html {
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 12px;
    background-color: #2e3440;
    color: rgb(37, 57, 94);
    margin-top: 5em;
}


header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #2e3440;
    color: #ffffff;
    width: 100%;
    font-size: 2em;
    position: fixed;
    top: 0;
    -webkit-app-region: drag;
}

.option {
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    border: none;
    -webkit-app-region: no-drag;
}

.option:hover {
    background-color: rgb(216, 57, 91);
}

.pad {
    background-color: #8fbcbb;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 15vw;
    height: 75px;
}

button {
    background-color: #3b4252;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 10px;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
}

button:hover {
    background-color: #434c5e;
    cursor: pointer;
}

button:active {
    background-color: #3b4252;
}

.pad:hover {
    background-color: #d08770;
    cursor: pointer;
}

.pad:active {
    background-color:#af7360 ;
}


#controller {
    display: block;
}



#pads {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 10px;
    

    justify-content: center;
    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
}


#config {
    max-width: 100%;
    margin-bottom: 2em;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 10px;
    padding: 30px;
    row-gap: 10px;
}

button {
    min-width: 200px;
    height: 50px;
}

select {
    background-color:#3b4252;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    height: 50px;
}

option {
    border: none;
    padding: 1em;
}

.contextMenu {
    color: white;
    background-color: #2e3440;
    padding: 0.5em;
    z-index: 1;
    top:-20px;
    right:10px;
    box-shadow: #232831 0px 0px 20px;
}

*:focus {
    outline: none;
}

@media (min-width: 600px) {
    .pad {
        background-color: #8fbcbb;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px;
        width: 10vw;
        height: 75px;
    }
}
