html {
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 12px;
    background-color: #2e3440;
    color: rgb(37, 57, 94);
}

h2 {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
}


header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #2e3440;
    color: #ffffff;
    width: 100%;
    font-size: 2em;
    position: fixed;
    top: 0;
    -webkit-app-region: drag;
}

.option {
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    border: none;
    -webkit-app-region: no-drag;
}

.option:hover {
    background-color: rgb(216, 57, 91);
}

.pad {
    background-color: #8fbcbb;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 15vw;
    height: 75px;
}

button {
    background-color: #3b4252;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 10px;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
}

button:hover {
    background-color: #434c5e;
    cursor: pointer;
}

button:active {
    background-color: #3b4252;
}

.pad:hover {
    background-color: #d08770;
    cursor: pointer;
}

.pad:active {
    background-color:#af7360 ;
}


#controller {
    display: block;
    padding: 0px;
    margin: 30px;
    padding-top: 2em;
}



#pads {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 10px;
    

    justify-content: center;
    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
}


#config {
    margin-bottom: 2em;
    display: flex;
    column-gap: 10px;
    flex-flow: column wrap;
    margin-top: 0;
    margin-bottom: 0;
    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 10px;
    padding: 30px;
    row-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}

button {
    min-width: 200px;
    height: 50px;
}

#config button {
    min-width: 0;
}

select {
    background-color:#3b4252;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    height: 50px;
    width: 100%;
}

option {
    border: none;
    padding: 1em;
}


*:focus {
    outline: none;
}

#sliderWrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 30px;
    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 10px;
    
}

.slider {
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    height: 20px; /* Specified height */
    background: linear-gradient(to right,#d08770 0%, #d08770 100%, #3b4252 100%, #3b4252 100%);
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 5px;
    background: #e29178; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#outputs {
    display: flex;
    flex-flow: row;
    column-gap: 10px;
}
#settings {
    display: grid;
    grid-template-columns: auto auto 40%;
    grid-template-rows: auto;
    column-gap: 25px;
}

@media (min-width: 1200px) {
    
}
