@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,900;1,300&display=swap');
:root {
    --background-dark: #2e3440;
    --background: #3b4252;
    --background-light: #434c5e;
    --background-alpha: #2e3440da;
    --text: #ffffff;
    --text-darker: #c0c0c0;
    --option-bg: rgb(216, 57, 91);
    --accent1: #8fbcbb;
    --accent2: #d08770;
    --accent2-dark: #af7360;
    --accent2-light: #e29178;
    --border: rgba(255, 255, 255, 0.356);
}


html {
    scroll-behavior: smooth;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

:root::-webkit-scrollbar {
    display: none;
}

body {
    
    font-size: 12px;
    background-color: var(--background-dark);
    color: var(--text);
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

h2 {
    color: var(--text);
    font-size: 1em;
    text-transform: uppercase;
    user-select: none;
}


header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: var(--background-dark);
    color: var(--text)f;
    width: 100%;
    font-size: 2em;
    position: fixed;
    top: 0;
    -webkit-app-region: drag;
}


.settings-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}   

.settings-box {
    position: relative;
    padding: 1em;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    height: 80%;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.555) 0px 0px 100px;
}

#settings-header {
    display: flex;
    justify-content: flex-end;
}

#settings-header p {
    position: relative;
    text-align: right;
    margin: 0;
    color: var(--text-darker);
    transition-duration: 0.3s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#settings-header p:hover {
    color: var(--text);
}


.option-light {
    padding: 5px 12px 5px 12px;
    cursor: default;
    border: none;
    -webkit-app-region: no-drag;
    transition: ease-in;
    transition-duration: 0.1s;
    display: flex;
    align-items: center;
}

.option-light div {
    transition-duration: 0.2s;
    color: var(--text-darker);
    
}

.option-light div:hover {
    color: var(--text);

}

.option {
    padding: 5px 12px 5px 12px;
    cursor: default;
    border: none;
    -webkit-app-region: no-drag;
}

.option:hover {
    background-color: var(--option-bg);
}

.theme-selector {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-height: 90%;

}

.theme-selector div {
    width: 100%;
}

.seperator {
    width: 100%;
    height: 1px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    background-color: var(--background-light);
}

.color-setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.color-setting label {
    font-size: 0.7em;

}



.pad {
    word-break: break-word;
    background-color: var(--accent1);
    border: none;
    border-radius: 10px;
    color: var(--text);
    padding: 10px;
    width: 140px;
    height: 90px;
    user-select: none;
    font-weight: 100;
}

button {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: var(--text);
    border: none;
    padding: 1em;
    border-radius: 10px;
    transition-duration: 75ms;
    cursor: default;
    user-select: none;
}

button:hover {
    background-color: var(--background-light);
    
}

button:active {
    background-color: var(--background);
}

.pad:hover {
    background-color: var(--accent2);
    
}

.pad:active {
    background-color: var(--accent2-dark);
}


#controller {
    display: block;
    padding: 0px;
    margin: 30px;
    padding-top: 2em;
}



#pads {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 10px;
    

    justify-content: center;
    border: solid var(--border) 1px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
}


#config {
    margin-bottom: 2em;
    display: flex;
    column-gap: 10px;
    flex-flow: column wrap;
    margin-top: 0;
    margin-bottom: 0;
    border: solid var(--border) 1px;
    border-radius: 10px;
    padding: 30px;
    row-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    user-select: none;
}

button {
    min-width: 70px;
    height: 50px;
}

#config button {
    min-width: 0;
}

select {
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-radius: 10px;
    padding: 1em;
    height: 50px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    
}

select::content {
    padding: 3em;
}

option {
    border: none;
    padding: 1em;
}


*:focus {
    outline: none;
}

#sliderWrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 30px;
    border: solid var(--border) 1px;
    border-radius: 10px;
    
}

.slider {
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    height: 20px; /* Specified height */
    background: linear-gradient(to right,var(--accent2) 0%, var(--accent2) 100%, var(--background) 100%, var(--background) 100%);
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 5px;
    background: var(--accent2-light); /* Green background */
    cursor: default; /* Cursor on hover */
  }

#outputs {
    display: flex;
    flex-flow: row;
    column-gap: 10px;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
#settings {
    display: grid;
    grid-template-columns: auto auto 30% 200px;
    grid-template-rows: auto;
    column-gap: 25px;
}

#recorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    padding: 30px;
    border: solid var(--border) 1px;
    border-radius: 10px;
}

#recorder button {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#recorder button p {
    margin: auto;
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(207, 51, 51);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


#version {
    display: flex;
    width: 100%;
    justify-content: center;
    user-select: none;
}

#version h1 {
    font-weight: 100;
    color: var(--background-light);
}


.btn-clicked {
    background-color: var(--background-dark);
    color: var(--background);    
}

.btn-clicked:hover {
    background-color: var(--background-dark);
    color: var(--background);    
}

.btn-important {
    background-color:#88455e;
}

.btn-important:hover {
    background-color:#7a3e54;
}